-- MySQL dump 10.13  Distrib 8.0.28, for Win64 (x86_64)
--
-- Host: localhost    Database: emails
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `fee_struct_mgmt`
--

DROP TABLE IF EXISTS `fee_struct_mgmt`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_struct_mgmt` (
  `pcm_perc` int DEFAULT NULL,
  `eql_fee` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_struct_mgmt`
--

LOCK TABLES `fee_struct_mgmt` WRITE;
/*!40000 ALTER TABLE `fee_struct_mgmt` DISABLE KEYS */;
INSERT INTO `fee_struct_mgmt` VALUES (90,100000),(88,500000),(70,600000);
/*!40000 ALTER TABLE `fee_struct_mgmt` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fee_struct_nri`
--

DROP TABLE IF EXISTS `fee_struct_nri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `fee_struct_nri` (
  `pcm_perc` int DEFAULT NULL,
  `eql_fee` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fee_struct_nri`
--

LOCK TABLES `fee_struct_nri` WRITE;
/*!40000 ALTER TABLE `fee_struct_nri` DISABLE KEYS */;
INSERT INTO `fee_struct_nri` VALUES (80,50000);
/*!40000 ALTER TABLE `fee_struct_nri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `info_colll`
--

DROP TABLE IF EXISTS `info_colll`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `info_colll` (
  `hashval` int DEFAULT NULL,
  `name` varchar(20) NOT NULL,
  `phone` varchar(20) NOT NULL,
  `PCM_percentage` float NOT NULL,
  `admi_type` varchar(20) NOT NULL,
  `prefered_batch` varchar(20) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `info_colll`
--

LOCK TABLES `info_colll` WRITE;
/*!40000 ALTER TABLE `info_colll` DISABLE KEYS */;
/*!40000 ALTER TABLE `info_colll` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `otp_expiry`
--

DROP TABLE IF EXISTS `otp_expiry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `otp_expiry` (
  `otp` varchar(10) NOT NULL,
  `is_expired` int NOT NULL,
  `create_at` datetime NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `otp_expiry`
--

LOCK TABLES `otp_expiry` WRITE;
/*!40000 ALTER TABLE `otp_expiry` DISABLE KEYS */;
/*!40000 ALTER TABLE `otp_expiry` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registerd_users`
--

DROP TABLE IF EXISTS `registerd_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `registerd_users` (
  `email` varchar(225) NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registerd_users`
--

LOCK TABLES `registerd_users` WRITE;
/*!40000 ALTER TABLE `registerd_users` DISABLE KEYS */;
INSERT INTO `registerd_users` VALUES ('abaysevi012@gmail.com'),('sreejiker2000@gmail.com');
/*!40000 ALTER TABLE `registerd_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-06-17 16:33:54